body{
    text-align: center;
}

h1{
    font-variant: small-caps;
    font-size: 40px;
}

.line{
    width: 200px;
    height: 4px;
    background-color: black;
    margin: 8px auto;
}

#app{
    background-color:aquamarine;
    width: 100%;
    height: 800px;
}
#Games{
    background-color:darkcyan;
    width: 100%;
    height: 800px;
}

#Chatbot{
    background-color:cyan;
    width: 100%;
    height: 800px;
}

img:hover{
   transform: scale(1.2)
}